<style>
body,h1{margin: 0px;}
#scene{height: 800px;  background-size: cover;}
#scene h1{
  position: relative;
  left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%);
  text-align: center; background-attachment:fixed; overflow: hidden;}

/*푸터적용*/  footer{height: 100px; background-color: rgba(255,0,0,0.5);}

.footer{position: relative;
left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%);
text-align: center;  font-family: 'Noto Sans KR', sans-serif;
font-size: 0.9rem;  font-weight:600;  color: gray;}

/*네비처리*/

.wrap{border: 0px height: 100px; width: 100%; position:static; background-color:white; z-index: 10;}
.logo{border: 0px solid blue; display: inline-block; margin-left:240px; }
.nav{border:0px solid green; position:absolute; right: 240px; top: 35px; display: inline-block;
font-family: 'Noto Sans KR', sans-serif; font-size: 1.2rem;  font-weight: 100; color: gray; }
.space{margin-left: 3rem;}
a, a:link :visited :active{text-decoration: none; color: gray;}
a:hover{color:red;}

/*서브페이지 구성*/
.bodywrap{top:100px; width: 100%;  height: 100%;}
.page{position: relative;  width:1440px;  left:50%;  transform: translateX(-50%);}


.one{background-image: url(images/image_07.png);}
.two{background-image: url(images/image_08.png);}
.three{background-image: url(images/image_09.png);}
</style>

</head>

<body>
<nav class="wrap"><div class="logo"><img src="images/image_02.png"></div>
  <div class="nav"><a href="p01.html">EF-S 35mm F2.8 Macro IS STM</a><span class="space"></span>
                  <a href="p02.html">EF-S 18-55mm F4-5.6 IS STM</a><span class="space"></span>
                    <a href="p03.html">EF 70-300mm F4-5.6 IS II USM</a><span class="space"></span>
</nav>

<section class="bodywrap">
<div class="page">
<img src="images/s_temo.png">
</div>
</section>


<footer>
  <div class="footer">

    copyright 2019 canon korea consumer imaging. all right reserved.</footer>

</body>

</html>
